<nav class="menu">
  <ol id="about">
    <li id="list" class="menu-item">
      <a (click)="toggleMenu()">{{menuTitle}}</a>
      <ol id="sub" class="sub-menu">
        <li class="menu-item"><a href="">a dad</a></li>
        <li class="menu-item"><a href="">a husband</a></li>
        <li class="menu-item"><a href="https://dev.to/peterbaier">a software engineer</a></li>
        <li class="menu-item"><a href="https://www.flickr.com/photos/baier-photography/">a photographer</a></li>
        <li class="menu-item"><a href="">a runner</a></li>
      </ol>
    </li>
    <li class="menu-item"><a (click)="scrollToContact()">Contact</a></li>
  </ol>
</nav>
