<div id="wrapper">
  <div id="header">
    <a class="logo"><strong>PETER </strong><span>BAIER</span></a>
    <app-menu-bar></app-menu-bar>
  </div>

  <div id="banner">
    <div class="particle"></div>
    <div class="inner">
      <div class="my-name-is">
        <h1>Hi, my name is Peter</h1>
      </div>
      <div class="description">
        <p>A full-stack software engineer<br/>
          and a hopeless dreamer.</p>
      </div>
      <img src="../assets/DSC_0150.png">
    </div>
  </div>

  <div id="contact">

    <form [formGroup]="form" *ngIf="form !== null">
      <p>Don’t be a stranger,<span> just say hello.</span></p>

      <div class="fields">
        <mat-form-field id="message">
          <textarea matInput placeholder="Hi Peter," formControlName="message"></textarea>

          <mat-error *ngIf="form.controls['message'].invalid && form.controls['message'].errors['required']">
            Empty message!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">

          <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].errors['required']">
            Please provide your Email!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button
                [disabled]="form.pristine || form.invalid" color="primary">Send
        </button>
      </div>

    </form>
    <i class="fas fa-twitter"></i>
    <i class="fas fa-facebook-f"></i>
    <i class="fas fa-instagram"></i>
    <i class="fas fa-linkedin-in"></i>
    <i class="fas fa-github"></i>
    <footer id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>&copy; BAIER.TECH</li>
        </ul>
      </div>
    </footer>
  </div>


</div>
