<div id="wrapper">
  <div id="header">
    <a class="logo"><strong>PETER </strong><span>BAIER</span></a>
    <app-menu-bar *ngIf="!isMobileView"></app-menu-bar>
    <app-mobile-menu *ngIf="isMobileView"></app-mobile-menu>
  </div>

  <div id="banner">
    <div class="inner">
      <div class="my-name-is">
        <h1>Hi, my name is Peter</h1>
      </div>
      <div class="description">
        <p>A full-stack software engineer<br/>
          and a hopeless dreamer.</p>
      </div>
    </div>
  </div>

  <div id="contact">

    <form [formGroup]="form" *ngIf="form !== null" (ngSubmit)="onSubmit()">
      <p>Don’t be a stranger,<span> just say hello.</span></p>

      <div class="fields">
        <mat-form-field id="message">
          <textarea matInput placeholder="Hi Peter," formControlName="message"></textarea>

          <mat-error *ngIf="form.controls['message'].invalid && form.controls['message'].errors['required']">
            Empty message!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">

          <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].errors['required']">
            Please provide your Email!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit"
                [disabled]="form.pristine || form.invalid" color="primary">Send
        </button>
      </div>

    </form>
    <div class="footer">
      <div class="social">
        <button mat-icon-button aria-label="Twitter" (click)="goTo('https://twitter.com/ptrbaier')">
          <i class="fab fa-twitter social-icon"></i>
        </button>

        <button mat-icon-button aria-label="Dev" (click)="goTo('https://dev.to/peterbaier')">
          <i class="fab fa-dev social-icon"></i>
        </button>

        <button mat-icon-button aria-label="Flickr" (click)="goTo('https://www.flickr.com/photos/baier-photography/')">
          <i class="fab fa-flickr social-icon"></i>
        </button>

        <button mat-icon-button aria-label="Github" (click)="goTo('https://github.com/peterbaier')">
          <i class="fab fa-github social-icon"></i>
        </button>
        <button mat-icon-button aria-label="LinkedIn" (click)="goTo('https://www.linkedin.com/in/peterbaier/')">
          <i class="fab fa-linkedin-in social-icon"></i>
        </button>
      </div>
      <div class="site">
        <span>&copy; BAIER.TECH</span>
      </div>
    </div>
  </div>
</div>
