// Common variables for colors

// Colors
:root {
  --cl-black: #000;
  --cl-white: #fff;
  --cl-dark-white: #eef0f3;
  --cl-light-grey: #bcc0cc;
  --cl-grey: #D9D9D9;
  --cl-dark-grey: #AAAAAB;
  --cl-dark-blue: #093a90;
  --cl-light-blue: #276CC8;
  --cl-light-blue-tint: #276cc814;
  --cl-primary: #31d16b;
  --cl-secondary: #14a782;
  --cl-tertiary: #6e40ed;
  --cl-warning: #e4732c;
  --cl-danger: #e62a43;

  --cl-border: #d2d5dd;

  --intellij-black: #2b2b2b;
  --navy: #00293c;
  --peacock-blue: #1e656d;
  --ivory: #f1f3ce;
  --candy-apple: #f62a00;
}
