// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myProfile-primary: mat-palette($mat-blue, 50);
$myProfile-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myProfile-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$myProfile-theme: mat-light-theme($myProfile-primary, $myProfile-accent, $myProfile-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($myProfile-theme);

@import url('https://fonts.googleapis.com/css?family=Electrolize|Gruppo|Orbitron|Oswald|Saira+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Gruppo|Iceland|Major+Mono+Display|Megrim|Orbitron&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: #2b2b2b;
  font-family: Orbitron, "Helvetica Neue", monospace;

  //font-family: 'Oswald', sans-serif;
  //font-family: 'Gruppo', cursive;
  //font-family: 'Orbitron', sans-serif;
  //font-family: 'Audiowide', cursive;
  //font-family: 'Megrim', cursive;
  //font-family: 'Iceland', cursive;
  //font-family: 'Major Mono Display', monospace;
}
